@tailwind base;
@tailwind components;
@tailwind utilities;

.drop-shadow-md-custom {
  filter: drop-shadow(3px 3px theme('colors.custom-gray'));
}
.drop-shadow-solid-extend {
  filter: drop-shadow(4px 4px #2a2a2a);
}

.shadow-2xl {
  --tw-shadow: 16px 16px 0px rgb(206 252 23);
  --tw-shadow-colored: 16px 16px 0px rgb(206 252 23);
}